.App {
  --projects-margin: 100px;
}

.App .NavBar {
  margin-bottom: var(--projects-margin);
}

.App .center {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.App .authorship {
  display: flex;
  justify-content: center;
  color: #6C6C6C;
  font-size: 20px;
  margin: var(--projects-margin) 0;
  font-weight: bold;
}

.App .authorship > img {
  margin:0 10px;
}

.App .authorship .author-github {
  color: inherit;
  margin-left: 10px;
  text-decoration: none;
}

.App .authorship .author-github:hover {
  text-decoration: underline;
}

.App .CreateProject {
  position: fixed;
  z-index: 100;
  top: 84px;
}